*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode


# own folders
examples/
RGCPD/main_mcKinnon.py
RGCPD/main_maroc.py
